@import "./reset.css";

@font-face {
    font-family: 'inconsolata';
    src: url('fonts/inconsolata-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/inconsolata-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    font-family: inconsolata, 'Arial' sans-serif;
    position: relative;
    background-color: aliceblue;
    height: 100vh;
}

#image-div {
    position: relative;
    top: auto;
}

#lavender-img {
    width: calc(100px + 40vh);
    height: 100vh;
}

#logo {
    --logo-size : calc(20px + 10vh);
    width: calc(var(--logo-size) - 3vh);
    height: var(--logo-size);
}

#title {
    font-size: 4rem;
}

#logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 1vh;
    top: 30vh;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 0px 10px;
}

#logo-div > * {
    opacity: 1;
}

#credit {
    position: relative;
    top: -5vh;
    left: 7vh;
    color: rgb(231, 207, 197);
}

#credit  a {
    color: rgb(255, 211, 182)
}

#right-side {
    display:flex;
    flex-flow: column nowrap;
    height: 100vh;
    
}

form {
    display: flex;
    height: 50vh;
    flex-flow: column nowrap;
}

fieldset {
    background-color: red;
    height: 60%;
}